In [2]:
import tushare as ts

In [10]:
df = ts.get_sina_dd('123006',date='2019-04-03',vol=100)

In [11]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
df = ts.get_today_ticks('123006')

[Getting data:]#

In [10]:
import pandas as pd

In [26]:
df=ts.get_tick_data('123006',date='2019-04-03',src='tt')

In [8]:
df.head()

       time   price  change  volume   amount type
0  09:25:04  178.00   -0.75     294   523323   卖盘
1  09:30:03  178.00   -0.00     142   252767   卖盘
2  09:30:06  177.50   -0.50    1180  2098086   卖盘
3  09:30:09  177.50    0.00      69   122406   买盘
4  09:30:12  177.61    0.11     610  1082802   买盘

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4481 entries, 0 to 4480
Data columns (total 6 columns):
time      4481 non-null object
price     4481 non-null float64
change    4481 non-null float64
volume    4481 non-null int64
amount    4481 non-null int64
type      4481 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 210.1+ KB

In [28]:
df['time']=pd.to_datetime(df['time'],format='%Y-%m-%d %H:%M:%S')

In [29]:
df.head()

                 time   price  change  volume   amount type
0 2019-04-03 09:25:04  178.00   -0.75     294   523323   卖盘
1 2019-04-03 09:30:03  178.00   -0.00     142   252767   卖盘
2 2019-04-03 09:30:06  177.50   -0.50    1180  2098086   卖盘
3 2019-04-03 09:30:09  177.50    0.00      69   122406   买盘
4 2019-04-03 09:30:12  177.61    0.11     610  1082802   买盘

In [13]:
import datetime

In [15]:
today = datetime.date.today().strftime('%Y-%m-%d')

In [27]:
df['time']=df['time'].map(lambda x:today+' '+x)

In [18]:
df.head()

       time   price  change  volume   amount type               times
0  09:25:04  178.00   -0.75     294   523323   卖盘 1900-01-01 09:25:04
1  09:30:03  178.00   -0.00     142   252767   卖盘 1900-01-01 09:30:03
2  09:30:06  177.50   -0.50    1180  2098086   卖盘 1900-01-01 09:30:06
3  09:30:09  177.50    0.00      69   122406   买盘 1900-01-01 09:30:09
4  09:30:12  177.61    0.11     610  1082802   买盘 1900-01-01 09:30:12

In [20]:
df.head()

,time,price,change,volume,amount,type,times
0,2019-04-03 09:25:04,178.00,-0.75,294,523323,卖盘,1900-01-01 09:25:04
1,2019-04-03 09:30:03,178.00,-0.00,142,252767,卖盘,1900-01-01 09:30:03
2,2019-04-03 09:30:06,177.50,-0.50,1180,2098086,卖盘,1900-01-01 09:30:06
3,2019-04-03 09:30:09,177.50,0.00,69,122406,买盘,1900-01-01 09:30:09
4,2019-04-03 09:30:12,177.61,0.11,610,1082802,买盘,1900-01-01 09:30:12

In [21]:
del df['times']

In [22]:
df.head()

                  time   price  change  volume   amount type
0  2019-04-03 09:25:04  178.00   -0.75     294   523323   卖盘
1  2019-04-03 09:30:03  178.00   -0.00     142   252767   卖盘
2  2019-04-03 09:30:06  177.50   -0.50    1180  2098086   卖盘
3  2019-04-03 09:30:09  177.50    0.00      69   122406   买盘
4  2019-04-03 09:30:12  177.61    0.11     610  1082802   买盘

In [30]:
df = df.set_index('time',drop=True)

In [31]:
df.head()

                      price  change  volume   amount type
time
2019-04-03 09:25:04  178.00   -0.75     294   523323   卖盘
2019-04-03 09:30:03  178.00   -0.00     142   252767   卖盘
2019-04-03 09:30:06  177.50   -0.50    1180  2098086   卖盘
2019-04-03 09:30:09  177.50    0.00      69   122406   买盘
2019-04-03 09:30:12  177.61    0.11     610  1082802   买盘

In [34]:
df['2019-04-03 09:30']

                      price  change  volume   amount type
time
2019-04-03 09:30:03  178.00   -0.00     142   252767   卖盘
2019-04-03 09:30:06  177.50   -0.50    1180  2098086   卖盘
2019-04-03 09:30:09  177.50    0.00      69   122406   买盘
2019-04-03 09:30:12  177.61    0.11     610  1082802   买盘
2019-04-03 09:30:15  177.93    0.32       9    16014  中性盘
2019-04-03 09:30:21  177.78   -0.15     388   689325   买盘
2019-04-03 09:30:24  177.60   -0.18     353   627006   卖盘
2019-04-03 09:30:27  177.80    0.20       1     1778  中性盘
2019-04-03 09:30:30  177.80    0.00       6    10668  中性盘
2019-04-03 09:30:33  177.50   -0.30     510   906119   卖盘
2019-04-03 09:30:36  177.51    0.01      92   163370   买盘
2019-04-03 09:30:39  177.88    0.37      40    71152   买盘
2019-04-03 09:30:42  177.70   -0.18      61   108397   买盘
2019-04-03 09:30:45  177.20   -0.50     502   890876   卖盘
2019-04-03 09:30:48  177.00   -0.20     500   886344   卖盘
2019-04-03 09:30:51  177.52    0.52       5     8876  中性盘
2019-04-03 09:30:54  177.31   -0.21     101   179253  中性盘
2019-04-03 09:30:57  177.48    0.17       1     1775   买盘

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4481 entries, 2019-04-03 09:25:04 to 2019-04-03 15:00:04
Data columns (total 5 columns):
price     4481 non-null float64
change    4481 non-null float64
volume    4481 non-null int64
amount    4481 non-null int64
type      4481 non-null object
dtypes: float64(2), int64(2), object(1)
memory usage: 210.0+ KB

In [40]:
df['volume']=df['volume'].astype('int64')

In [42]:
grpby = df.groupby('type')

In [43]:
grpby

In [46]:
vol_type = grpby['volume'].sum()

In [48]:
vol_type['中性盘']

74466